@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo-principal {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

h1 {
    opacity: 75%;
    font-weight: 500;
    font-size: 1.9em;
}

.legenda {
    display: flex;
    gap: 1%;
}

.paciente-legenda {
    width: 49%;
    padding-left: 1em;
}

.horario-legenda {
    width: 30.3%;
    padding-left: 0.9em;
}

.status-legenda {
    width: 60.6%;
    padding-left: 0.5em;
}

.legenda p {
    opacity: 75%;
    font-size: 1.4em;
    font-weight: 500;
}

.horario-status {
    width: 49%;
    display: flex;
    justify-content: space-between;
}

.consultas {
    border: 2px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    padding: 10px 17px 0 17px;
    margin-bottom: 0.5%;
}

.consultas p {
    opacity: 50%;
    font-size: 1.2em;
    font-weight: 500;
}

.paciente {
    display: flex;
    gap: 2%;
    margin-bottom: 10px;
}

.nome {
    width: 49%;
    border: 2px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    display: flex;
    align-items: center;
}

.hora-status {
    display: flex;
    width: 49%;
    justify-content: space-between;
}

.horario {
    width: 30.3%;
    border: 2px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    display: flex;
    align-items: center;
}

.status {
    width: 60.6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botoes {
    width: 75%;
    display: flex;
    margin-top: 5px;
}

button, .iniciar-consulta {
    text-align: center;
    padding: 0.3vw 0.8vw;
    border: 1px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    font-size: 1vw;
    color: #FFFFFF;
    font-weight: 600;
    font-family: "Inter", serif;
    cursor: pointer;
    text-decoration: none;
}

.botoes .voltar {
    background-color: #FF6F61;
}

.botoes .voltar:hover {
    background-color: #E65A50;
}

.iniciar-consulta {
    background-color: #50E3C2;
}

.iniciar-consulta:hover {
    background-color: #3AC3A5;
}

.atendimentos-finalizados-titulo {
    margin-top: 2%;
}
