#calendar {
    max-width: 1200px;
    max-height: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #D9D9D9;
    border-radius: 8px;
}

/* O FullCalendar adiciona a classe .fc-day-today à célula da data atual. */

.fc-day-today {
    background: linear-gradient(135deg, #394551, #f0f0d2);
    color: white !important;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
    border: 2px solid #007bff;
    background-color: transparent;
}

/* Altera o fundo e o estilo da barra com os dias da semana */
.fc-col-header-cell {
    background-color: #c4c4c4;
    color: black;
    font-weight: bold;
    padding: 10px 0;
    border: 1px solid #dee2e6;
}

/* Bordas mais visíveis em toda a grid */
.fc-theme-standard td,
.fc-theme-standard th {
    border: 2px solid #D9D9D9;
}





