@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo-geral {
    width: 80%;
}

.conteudo-geral h1 {
    opacity: 75%;
    margin-left: 2%;
    margin-bottom: 1%;
}

.horarios {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2% 2% 0 2%;
    border: 2px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    margin-bottom: 1%;
}

.periodo {
    display: flex;
    flex-direction: column;
    width: 49%;
}

.periodo h2 {
    opacity: 75%;
    font-weight: 500;
}

.horario {
    display: flex;
    gap: 4%;
    width: 100%;
    border: 2px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    margin-bottom: 3%;
    padding: 1% 1% 1% 1%;
    cursor: pointer;
}

.horario:hover {
    background-color: #d8d2d2;
}

.horario p {
    opacity: 50%;
    font-size: 1.3em;
}

.hora {
    font-weight: 500;
}

.italico {
    font-style: italic;
    font-weight: 400;
}

button {
    text-align: center;
    padding: 0.3vw 0.8vw;
    border: 1px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    font-size: 1vw;
    color: #FFFFFF;
    font-weight: 600;
    font-family: "Inter", serif;
    cursor: pointer;
    background-color: #FF6F61;
}

button:hover {
    background-color: #E65A50;
}
