@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


h1 {
    opacity: 75%;
    font-weight: 500;
    font-size: 2em;
}

.conteudo-principal {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.endereco {
    margin-top: 1%;
}

.dados-gerais-endereco {
    width: 100%;
    padding: 1.5% 1.5% 0.5% 1.5%;
    border: 2px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
}

.label-input {
    display: flex;
    flex-direction: column;
    width: 49%;
    margin-bottom: 1%;
}

.linha{
    display: flex;
    justify-content: space-between;
}

.linha-pequenos{
    width: 49%;
    display: flex;
    justify-content: space-between;
}

.label {
    opacity: 75%;
    font-weight: 500;
    font-size: 1.4em;
}

span {
    color: #4A90E2;
}

.input, select {
    border: 2px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
}

.botoes {
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.botoes button {
    text-align: center;
    padding: 0.3vw 0.8vw;
    border: 1px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    font-size: 1vw;
    color: #FFFFFF;
    font-weight: 600;
    cursor: pointer;
}

.botoes .voltar {
    background-color: #FF6F61;
}

.botoes .voltar:hover {
    background-color: #E65A50;
}

.botoes .salvar {
    background-color: #50E3C2;
}

.botoes .salvar:hover {
    background-color: #3AC3A5;
}
