@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo-principal {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.busca {
    width: 25%;
    border: 2px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    padding: 10px 17px 10px 17px;
    display: flex;
    align-items: center;
    gap: 10px;
}

input {
    border: transparent;
    width: 100%;
}

.pacientes {
    border: 2px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    padding: 10px 17px 10px 17px;
}

.legenda {
    display: flex;
    gap: 1%;
    margin-bottom: 5px;
}

.legenda p {
    font-size: 1.4em;
    font-weight: 500;
    opacity: 75%;
}

.dados p {
    opacity: 50%;
    font-size: 1.4em;
    font-weight: 500;
}

.nome-legenda {
    width: 57.6%;
}

.dados {
    display: flex;
    gap: 1%;
    margin-bottom: 5px;
}

.nome {
    width: 64%;
    border: 2px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

.cpf {
    width: 19%;
    border: 2px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

.botaoVerde {
    text-align: center;
    padding: 0.3vw 0.8vw;
    border: 1px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    font-size: 1vw;
    color: #FFFFFF;
    font-weight: 600;
    font-family: "Inter", serif;
    cursor: pointer;
    background-color: #50E3C2;
    text-decoration: none;
}

.botaoVerde:hover {
    background-color: #3AC3A5;
}

.botao {
    width: 75%;
    margin-top: 5px;
}

.botaoVermelho {
    text-align: center;
    padding: 0.3vw 0.8vw;
    border: 1px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    font-size: 1vw;
    color: #FFFFFF;
    font-weight: 600;
    font-family: "Inter", serif;
    cursor: pointer;
    background-color: #FF6F61;
    text-decoration: none;
}

.botaoVermelho:hover {
    background-color: #E65A50;
}
