@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo-principal {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.busca-opcoes {
    display: flex;
    justify-content: space-between;
}

.busca {
    width: 25%;
    border: 2px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    padding: 10px 17px 10px 17px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.busca input {
    border: transparent;
    width: 100%;
}

.opcoes button {
    border: 2px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    padding: 10px 17px 10px 17px;
    background-color: transparent;
    font-weight: 700;
    opacity: 50%;
}

.opcao {
    border: 2px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    padding: 10px 17px 10px 17px;
    background-color: #FFFFFF;
    font-weight: 700;
    opacity: 50%;
    cursor: pointer;
}

.opcao.ativo {
    color: #FFFFFF;
    background-color: #6C6767;
}

.profissionais {
    border: 2px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    padding: 10px 17px 10px 17px;
}

.legenda {
    display: flex;
    gap: 1%;
    margin-bottom: 5px;
}

.legenda p {
    font-size: 1.4em;
    font-weight: 500;
    opacity: 75%;
}

.oculto {
    display: none;
}

.dados p {
    opacity: 50%;
    font-size: 1.4em;
    font-weight: 500;
}

.nome-legenda {
    width: 64%;
}

.dados {
    display: flex;
    gap: 1%;
    margin-bottom: 5px;
}

.nome {
    width: 64%;
    border: 2px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

.cpf {
    width: 19%;
    border: 2px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

.detalhesEditar {
    width: 15%;
    text-align: center;
    padding: 0.3vw 0.8vw;
    border: 1px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    font-size: 1vw;
    color: #FFFFFF;
    font-weight: 600;
    font-family: "Inter", serif;
    cursor: pointer;
    background-color: #50E3C2;
}

.detalhesEditar:hover {
    background-color: #3AC3A5;
}

.excluir {
    width: 15%;
    text-align: center;
    padding: 0.3vw 0.8vw;
    border: 1px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    font-size: 1vw;
    color: #FFFFFF;
    font-weight: 600;
    font-family: "Inter", serif;
    cursor: pointer;
    background-color: #FF6F61;
}

.excluir:hover {
    background-color: #E65A50;
}

.botao {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-top: 5px;
}

.botao button, a {
    text-align: center;
    padding: 0.3vw 0.8vw;
    border: 1px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    font-size: 1vw;
    color: #FFFFFF;
    font-weight: 600;
    font-family: "Inter", serif;
    cursor: pointer;
    text-decoration: none;
}

.botao .voltar {
    background-color: #FF6F61;
}

.botao .voltar:hover {
    background-color: #E65A50;
}

.botao .adicionar {
    background-color: #50E3C2;
}

.botao .adicionar:hover {
    background-color: #3AC3A5;
}
