main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo-principal {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.busca {
    width: 40%;
    border: 0.2rem, solid rgba(136, 136, 136, 0.4);
    border-radius: 0.5rem;
    padding: 0 1.7rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

input {
    border: none;
    width: 100%;
    padding: 1.3rem 0;
    background-color: #f9f9f9;
    font-size: 1.6rem;
    opacity: 50%;
}

input:focus {
  outline: none;     /* Remove o contorno (normalmente azul ou preto) */
  box-shadow: none;  /* Remove o efeito de sombra que pode simular uma borda */
  border: none;      /* Opcional: remove a borda se ela aparecer no focus */ 
}

input:focus::placeholder {
  color: transparent;
}

.pacientes {
    border: 0.2rem, solid rgba(136, 136, 136, 0.4);
    border-radius: 0.5rem;
    padding: 1rem 1.7rem 0.5rem 1.7rem;
}

.dados {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.5rem;
    width: 100%;
}

.dados-botoes {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.dados p {
    opacity: 50%;
    font-size: 2rem;
    font-weight: 500;
}

.nome {
    width: 75%;
    border: 0.2rem, solid rgba(136, 136, 136, 0.4);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

.cpf {
    width: 30%;
    border: 0.2rem, solid rgba(136, 136, 136, 0.4);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

.botao {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-top: 0.5rem;
}

.botaoVerde {
    text-align: center;
    padding: 0 1rem;
    border: 0.1rem, solid rgba(136, 136, 136, 0.4);
    border-radius: 0.5rem;
    font-size: 1.8rem;
    color: #FFFFFF;
    font-weight: 600;
    cursor: pointer;
    background-color: #50E3C2;
    text-decoration: none;
}

.botaoVerde:hover {
    background-color: #3AC3A5;
}

.botaoVermelho {
    text-align: center;
    padding: 0.5rem 1rem;
    border: 0.1rem, solid rgba(136, 136, 136, 0.4);
    border-radius: 0.5rem;
    font-size: 1.8rem;
    color: #FFFFFF;
    font-weight: 600;
    cursor: pointer;
    background-color: #FF6F61;
    text-decoration: none;
}

.botaoVermelho:hover {
    background-color: #E65A50;
}

.separador {
    display: flex;
    justify-content: space-between;
}
