@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo-principal {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.busca-opcoes {
    display: flex;
    justify-content: space-between;
}

.opcoes button {
    margin-left: 10px;
    padding: 5px 15px;
}

.busca {
    width: 25%;
    border: 2px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.busca img {
    margin-left: 1rem;
}

.busca input {
    border: transparent;
    width: 100%;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    background-color: #f9f9f9;
}

.busca input:focus {
    outline: none;
    box-shadow: none;
}

.busca input:focus::placeholder {
    
    color: transparent;
}

.opcoes button {
    border: 2px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    padding: 10px 17px 10px 17px;
    background-color: transparent;
    font-weight: 700;
    opacity: 50%;
}

.opcao {
    border: 2px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    padding: 10px 17px 10px 17px;
    background-color: #FFFFFF;
    font-weight: 700;
    opacity: 50%;
    cursor: pointer;
}

.opcao.ativo {
    color: #FFFFFF;
    background-color: #6C6767;
}

.profissionais {
    border: 2px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    padding: 10px 17px 10px 17px;
}

.oculto {
    display: none;
}

.dados {
    display: flex;
    gap: 1%;
    margin-bottom: 5px;
}

.dados p {
    opacity: 50%;
    font-size: 1.5rem;
    font-weight: 500;
}

.nome {
    width: 64%;
    border: 2px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

.cpf {
    width: 19%;
    border: 2px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

.botao {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-top: 5px;
}

.botaoVerde {
    text-align: center;
    padding: 0.3vw 0.8vw;
    border: 1px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    font-size: 1.8rem;
    color: #FFFFFF;
    font-weight: 600;
    font-family: "Inter", serif;
    cursor: pointer;
    background-color: #50E3C2;
    text-decoration: none;
}

.botaoVerde:hover {
    background-color: #3AC3A5;
}

.botaoVermelho {
    text-align: center;
    padding: 0.3vw 0.8vw;
    border: 1px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    font-size: 1vw;
    color: #FFFFFF;
    font-weight: 600;
    font-family: "Inter", serif;
    cursor: pointer;
    background-color: #FF6F61;
    text-decoration: none;
}

.botaoVermelho:hover {
    background-color: #E65A50;
}

