@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jaldi&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
}

main {
    height: 100vh;
<<<<<<< HEAD
    width: 100%;
    background-color: #FFFFFF;
=======
    width: 85%;
    border: 0.1vw solid rgba(136, 136, 136, 0.4);
    margin: auto;
}

/* Lado esquerdo */
.lado-esquerdo {
    background-color: #F5F5F5;
>>>>>>> 959f25bdfa30c29208fe6d2fccaf1dc594e4d9e4
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo_geral {
    width: 1152px;
    height: 819px;
    display: flex;
}

.geral_esquerda {
    height: 100%;
    width: 55%;
    background-color: #F5F5F5;
    border: 1px, solid rgba(136, 136, 136, 0.4);
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo_esquerda {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.texto h1 {
    color: #6C6767;
    font-size: 70px;
    font-family: "Inter", serif;
    font-weight: 900;
}

.conteudo_esquerda p {
    color: #6C6767;
    font-size: 30px;
    font-family: "Inter", serif;
    font-weight: 900;
}

.botao_entrar {

}

.botao_entrar button {
    width: 337px;
    height: 65.6px;
    border: none;
    border-radius: 35px;
    background-color: #4A90E2;
    color: #FFFFFF;
    font-size: 22.4px;
    font-weight: 600;
    font-family: "Inter", serif;
    cursor: pointer;
}

.botao_entrar button:hover {
    background-color: #5AA9F4;
}

<<<<<<< HEAD
.geral_direita {
    height: 100%;
    width: 45%;
=======

.lado-direito {
    width: 50%;
>>>>>>> 959f25bdfa30c29208fe6d2fccaf1dc594e4d9e4
    background-color: #4A90E2;
    border: 1px solid #4A90E2;
    border-radius: 0 10px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
