@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #4A90E2;
    height: 13.77vh;
    padding-bottom: 0.4vh;
    margin-bottom: 3vh;
}

header .logo{
    margin-left: 6.74vw;
    margin-bottom: 1.95vh;
    font-size: 3vw;
    font-family: "Inter", serif;
    font-weight: 900;
    color: #FFFFFF;
    text-decoration: none;
}

.conteudo_header_direita {
    margin-right: 6.74vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 5.07vw;
    margin-bottom: 2.95vh;
}

.perfil_menu_usuario {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.icone-perfil {
    width: 1.5vw;
    height: auto;
    padding-bottom: 0.6vh;
}

.perfil_menu_usuario button {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.conteudo_header_direita p {
    font-size: 1.4vw;
    font-family: "Inter", serif;
    font-weight: 900;
    color: #FFFFFF;
}

.seta_menu {
    margin-bottom: 0.4vh;
    width: 1.1vw;
    height: auto;
}

main {
    padding: 3vh;
    max-width: 70vw;
    margin: auto;
}

/* .section-principal {
    border: 0.2vh solid rgba(136, 136, 136, 0.4);
    padding: 3vh 4vw 10vh 4vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
} */

h2 {
    font-size: 3vh;
    margin-bottom: 3vh;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
}

.card {
    background: #f4f4f4;
    padding: 3vh;
    border: 0.2vh solid rgba(136, 136, 136, 0.4);
    cursor: pointer;
}

.card a {
    text-decoration: none;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: black;
}

.card span {
    font-size: 5vh;
    margin-bottom: 1.5vh;
    margin-left: 2vw;
}

.card p {
    font-size: 2.5vh;
    font-weight: bold;
}

.card:hover {
    background: #b9b9b9;
}