@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Inter", serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #4A90E2;
    height: 13.77vh;
    padding-bottom: 0.4vh;
    margin-bottom: 3vh;
}

header .logo{
    margin-left: 6.74vw;
    margin-bottom: 1.95vh;
    font-size: 3vw;
    font-family: "Inter", serif;
    font-weight: 900;
    color: #FFFFFF;
    text-decoration: none;
}

.conteudo_header_direita {
    margin-right: 6.74vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 5.07vw;
    margin-bottom: 2.95vh;
}

.conteudo_header_direita a {
    font-size: 1.4vw;
    font-family: "Inter", serif;
    font-weight: 900;
    color: #FFFFFF;
    text-decoration: none;
}

.perfil_menu_usuario {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1vw;
}

.icone-perfil {
    width: 1.5vw;
    height: auto;
    padding-bottom: 0.6vh;
}

.perfil_menu_usuario button {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.conteudo_header_direita p {
    font-size: 1.4vw;
    font-weight: 900;
    color: #FFFFFF;
}

.seta_menu {
    margin-bottom: 0.4vh;
    width: 1.1vw;
    height: auto;
}

main {
    padding: 4vh;
}

section {
    display: flex;
    flex-direction: column;
}

.primeiroh3 {
    margin-left: 20px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 3vh;
    gap: 3vh;
}

form input[type="text"],
form input[type="date"],
form select,
form textarea {
    border: 0.3vh solid rgba(136, 136, 136, 0.4);
    border-radius: 1.5vh;
    padding: 1.2vh;
    font-size: 2.5vh;
    width: 100%;
    max-width: 100%;
    color: #333;
}

form .solicitacao {
    border: 0.3vh solid rgba(136, 136, 136, 0.4);
    padding: 3vh;
    border-radius: 1.5vh;
}

form .lista-exames {
    margin-bottom: 1.5vh;
}

form .grupo-solicitacao {
    display: flex;
    justify-content: space-between;
}

form .solicitado-por p {
    color: grey;
}

form .resultados {
    border: 0.3vh solid rgba(136, 136, 136, 0.4);
    padding: 3vh;
    border-radius: 1.5vh;
}

form .resultados .grupo-data {
    display: flex;
    gap: 3vh;
    margin-bottom: 3vh;
}

form .grupo-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1.5vw;
}

.btn.finalizar {
    background-color: #50E3C2;
    border: 0.15vh solid rgba(136, 136, 136, 0.4);
    color: #fff;
    padding: 1.5vh 3vw;
    text-align: center;
    font-size: 2.5vh;
    font-weight: 600;
    border-radius: 0.6vh;
    cursor: pointer;
}

.btn.voltar {
    background-color: #eb7d69;
    border: 0.15vh solid rgba(136, 136, 136, 0.4);
    padding: 1.5vh 3vw;
    text-align: center;
    font-size: 2.5vh;
    font-weight: 600;
    border-radius: 0.6vh;
    cursor: pointer;
}

.btn.voltar a {
    text-decoration: none;
    color: #fff;
}

.btn.finalizar:hover {
    background-color: #3AC3A5;
}

.btn.voltar:hover {
    background-color: #eb573d;
    
}


