@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Inter", serif;
}

main {
    padding: 4vh;
}

section {
    display: flex;
    flex-direction: column;
}

.primeiroh3 {
    margin-left: 20px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 3vh;
    gap: 3vh;
}

form input[type="text"],
form input[type="date"],
form select,
form textarea {
    border: 0.3vh solid rgba(136, 136, 136, 0.4);
    border-radius: 1.5vh;
    padding: 1.2vh;
    font-size: 2.5vh;
    width: 100%;
    max-width: 100%;
    color: #333;
}

form .solicitacao {
    border: 0.3vh solid rgba(136, 136, 136, 0.4);
    padding: 3vh;
    border-radius: 1.5vh;
}

form .lista-exames {
    margin-bottom: 1.5vh;
}

form .grupo-solicitacao {
    display: flex;
    justify-content: space-between;
}

form .solicitado-por p {
    color: grey;
}

form .resultados {
    border: 0.3vh solid rgba(136, 136, 136, 0.4);
    padding: 3vh;
    border-radius: 1.5vh;
}

form .resultados .grupo-data {
    display: flex;
    gap: 3vh;
    margin-bottom: 3vh;
}

form .grupo-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1.5vw;
}

.btn.finalizar {
    background-color: #50E3C2;
    border: 0.15vh solid rgba(136, 136, 136, 0.4);
    color: #fff;
    padding: 1.5vh 3vw;
    text-align: center;
    font-size: 2.5vh;
    font-weight: 600;
    border-radius: 0.6vh;
    cursor: pointer;
}

.btn.voltar {
    background-color: #eb7d69;
    border: 0.15vh solid rgba(136, 136, 136, 0.4);
    padding: 1.5vh 3vw;
    text-align: center;
    font-size: 2.5vh;
    font-weight: 600;
    border-radius: 0.6vh;
    cursor: pointer;
}

.btn.voltar a {
    text-decoration: none;
    color: #fff;
}

.btn.finalizar:hover {
    background-color: #3AC3A5;
}

.btn.voltar:hover {
    background-color: #eb573d;
    
}


