@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo-principal {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 1.5%;
}

.conteudo-principal h1 {
    opacity: 75%;
    font-weight: 500;
}

.dados-prontuario {
    padding: 20px 20px 0 20px;
    border: 2px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px; 
    margin-bottom: 0.5%;
}

.menu-seta {
    display: flex;
    justify-content: space-between;
}

.menu-seta h2 {
    opacity: 75%;
    font-weight: 500;
}

.menu-seta img {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.barra {
    border: 1px, solid black;
    opacity: 30%;
    margin-bottom: 1.5%;
}

.formulario-oculto {
    display: none;
}
  
.formulario-visivel {
    display: block;
}

.linha-dados {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
}

.div-medios {
    width: 49%;
    display: flex;
    justify-content: space-between;
}

.input-grande {
    display: flex;
    flex-direction: column;
    width: 49%;
}

.input-medio {
    display: flex;
    flex-direction: column;
    width: 48%;
}

label, .label {
    opacity: 50%;
    font-weight: 500;
    font-size: 1.1em;
}

.input-estilizacao-padrao {
    border: 2px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    padding: 5px;
    padding: 10px 15px 10px 15px;
}

.nome-campo {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 1%;
}

textarea {
    border: 2px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    padding: 5px;
    padding: 10px 15px 10px 15px;
}

.motivo-consulta {
    border: 2px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    padding: 5px;
    padding: 10px 15px 10px 15px;
    margin-bottom: 1%;
    width: 50%;
}

h3 {
    opacity: 50%;
    font-weight: 500;
    font-size: 1.1em;
}

select, input {
    border: 2px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    padding: 5px;
    padding: 10px 15px 10px 15px;
}

.lista-exames {
    border: 2px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    padding: 5px;
    padding: 10px 15px 10px 15px;
    margin-bottom: 1%;
    width: 50%;
}

.botao-solicitar-criar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1%
}

.botao-solicitar-criar button {
    text-align: center;
    padding: 0.3vw 0.8vw;
    border: 1px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    font-size: 1vw;
    color: #FFFFFF;
    font-weight: 600;
    font-family: "Inter", serif;
    cursor: pointer;
    background-color: #50E3C2;
}

.botao-solicitar-criar button:hover {
    background-color: #3AC3A5;
}

li {
    font-family: "Inter", serif;
    opacity: 75%;
    list-style: none;
}

.lista-medicamentos, .atestados, .exame-container  {
    border: 2px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    padding: 5px;
    padding: 10px 15px 10px 15px;
    margin-bottom: 1%;
}

.finalizar-consulta {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.finalizar-consulta button {
    text-align: center;
    padding: 0.3vw 0.8vw;
    border: 1px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    font-size: 1vw;
    color: #FFFFFF;
    font-weight: 600;
    font-family: "Inter", serif;
    cursor: pointer;
}

.finalizar-consulta .verde {
    background-color: #50E3C2;
}

.finalizar-consulta .verde:hover {
    background-color: #3AC3A5;
}

.finalizar-consulta .vermelho {
    background-color: #FF6F61;
}

.finalizar-consulta .vermelho:hover {
    background-color: #E65A50;
}
