@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.titulo_secao {
    margin-left: 6.74vw;
    font-weight: 500;
    font-family:"Inter", serif;
    opacity: 0.75;
    font-size: 1.5vw;
    margin-bottom: 0.5vh;
    margin-top: 3vh;
}

.descricao_exame {
    margin-left: 6.74vw;
    width: 52.57vw;
    border: 1px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
}

.nome_exame {
    margin: 1vw;
}

.nome_exame label {
    font-family: "Inter", serif;
    font-weight: 500;
    opacity: 0.75;
    padding-left: 0.2vw;
}

.nome_exame_input_button {
    border: 1px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    height: 4vh;
    display: flex;
}

.nome_exame_input_button input {
    width: 100%;
    border: none;
    border-radius: 5px;
    margin-left: 0.5vw;
    outline: none;
    font-family: "Inter", serif;
    font-weight: 500;
    opacity: 0.5;
}

.nome_exame_input_button input::placeholder {
    font-family: "Inter", serif;
    font-weight: 500;
    color: #000000;
    opacity: 0.5;
}

.nome_exame_input_button input:focus::placeholder {
    color: transparent;
}

.nome_exame_input_button button {
    background-color: #D3D3D3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.nome_exame_input_button button img {
    padding: 0 0.5vw;
    width: 0.8vw;
    height: auto;
    opacity: 0.75;
}

.nome_medico {
    margin: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.nome_medico .solicitado_por {
    opacity: 0.75;
}

.nome_medico p {
    font-family: "Inter", serif;
    font-weight: 500;
    opacity: 0.5;
    font-size: 1.1vw;
}

.nome_medico button {
    text-align: center;
    padding: 0.3vw 0.8vw;
    border: 1px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    font-size: 1vw;
    color: #FFFFFF;
    font-weight: 600;
    font-family: "Inter", serif;
    cursor: pointer;
    background-color: #50E3C2;
}

.nome_medico button:hover {
    background-color: #3AC3A5;
}

.todos_exames_solicitados {
    margin-left: 6.74vw;
    width: 72.57vw;
    border: 1px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
}

.conteudo_exames_solicitados {
    margin: 1.5vw 1vw;
    display: flex;
    justify-content: space-between;
}

.conteudo_exames_solicitados .titulo {
    font-family: "Inter", serif;
    font-weight: 500;
    opacity: 0.75;
    padding-left: 0.5vw;
}

.barra_separacao {
    border: 1px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    height: 0.7vh;
    background-color: #D3D3D3;
    margin-top: 0.5vh;
    margin-bottom: 1vh;
}

.conteudo_exames_solicitados p {
    font-family: "Inter", serif;
    font-weight: 500;
    opacity: 0.5;
    font-size: 1.1vw;
}

.nome_exames_solicitados {
    width: 58vw;    
}

.barra_rolagem {
    border: 1px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    width: 1vw;
    background-color: #D3D3D3;
}

.botao {
    margin-left: 6.74vw;
    width: 72.57vw;
    margin-top: 0.8vh;
    display: flex;
    justify-content: flex-end;
}

.botao button {
    text-align: center;
    padding: 0.3vw 0.8vw;
    border: 1px, solid rgba(136, 136, 136, 0.4);
    border-radius: 5px;
    font-size: 1vw;
    color: #FFFFFF;
    font-weight: 600;
    font-family: "Inter", serif;
    cursor: pointer;
    background-color: #50E3C2;
}

.botao button:hover {
    background-color: #3AC3A5;
}