<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/iniciar-consulta.css">
    <link rel="stylesheet" href="../../assets/css/agendar-consulta.css"> 
    <link rel="stylesheet" href="../../assets/css/calendario.css">
    <script src="../../assets/script/calendario.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.17/index.global.min.js'></script>
    <title>Agendar Consulta</title>
</head>
<body>
    
    <header>
        <a class="logo" href="">MedEase</a>
        <div class="conteudo_header_direita">
            <a href="">Atendimentos</a>
            <a href="">Pacientes</a>
            <div class="perfil_menu_usuario">
                <img class="icone-perfil" src="../../assets/img/perfilBranco.png" alt="Ícone de perfil do usuário">    
                <button>
                    <p>NomeUsuario</p>
                    <img class="seta_menu" src="../../assets/img/setaBranca.png" alt="Seta de ativação do menu do usuário">
                </button>
            </div>
        </div>
    </header>

    <main>
        <div id='calendar'></div>

        <div class="caixa-botao-voltar">
            <a href="#" class="botao-voltar">Voltar</a>
        </div>
    </main>

    
    
</body>
</html>