<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atendimentos do dia</title>
    <link rel="stylesheet" href="/assets/css/atendimentos-dia.css">
</head>
<body>
    <header>
        <a class="logo" href="">MedEase</a>
        <div class="conteudo_header_direita">
            <div class="perfil_menu_usuario">    
                <button>
                    <p>sair</p>
                </button>
            </div>
        </div>
    </header>
    <main>
        <section class="conteudo-principal">
            <h1>Lista de atendimentos - "data do dia"</h1>
            <div class="legenda">                
                
                <p>Paciente</p>               
                <div class="horario-status">
                    <p>Horário da Consulta</p>
                    <p>Status</p>
                </div>

            </div>
            <section class="consultas">

                <div class="paciente">
                    <div class="nome">
                        <p>Receber nome do paciente aqui</p>
                    </div>

                    <div class="hora-status">
                        <div class="horario">
                            <p>Receber horário aqui</p>
                        </div>
                        <div class="status">
                            <p>Receber status aqui</p>
                        </div>
                    </div>
                </div>

            </section>
        </section>
        <section class="botoes">
            <button class="voltar">Voltar</button>
            <button class="salvar" type="submit">Iniciar Consulta</button>
        </section>
    </main>
    <footer></footer>
</body>
</html>