<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Médico</title>
    <link rel="stylesheet" href="/assets/css/cadastrar-medico.css">
</head>
<body>
    <header>
        <a class="logo" href="">MedEase</a>
        <div class="conteudo_header_direita">
            <div class="perfil_menu_usuario">    
                <button>
                    <p>sair</p>
                </button>
            </div>
        </div>
    </header>
    <main>
        <section class="conteudo-principal">
            <form action="#" method="post">
                <h1>Dados Gerais</h1>
                <section class="dados-gerais-endereco">
                    
                    <div class="nome-completo-email">

                        <div class="cpf-sexo">

                            <div class="cpf-crm">
                                <div class="cpf">
                                    <label for="cpf">CPF<span>*</span></label>
                                    <input type="text" id="cpf" name="cpf" required pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" placeholder="000.000.000-00">
                                </div>
        
                                <div class="crm">
                                    <label for="crm">CRM<span>*</span></label>
                                    <input type="text" id="crm" name="crm" maxlength="10"  placeholder="Ex: 123456-SP">
                                </div>
                            </div>
                            
                            <div class="nome-completo">
                                <label for="nome_completo">Nome completo<span>*</span></label>
                                <input type="text" id="nome_completo" name="nome_completo" required>
                            </div>

                            <div class="data-nascimento-sexo">

                                <div class="data-nascimento">
                                    <label for="data_nascimento">Data de Nascimento<span>*</span></label>
                                    <input type="date" id="data_nascimento" name="data_nascimento" required>
                                </div>

                                <div class="sexo">
                                    <label for="sexo">Sexo<span>*</span></label>
                                    <select id="sexo" name="sexo" required>
                                        <option value="">Selecione</option>
                                        <option value="masculino">Masculino</option>
                                        <option value="feminino">Feminino</option>
                                        <option value="outro">Outro</option>
                                    </select>
                                </div>
                            
                                </div>

                                

                        </div>

                        <div class="especialidade-residencial">

                            <div class="especialidade">
                                <label for="especialidade">Especialidade:</label>
                                <select id="especialidade" name="especialidade" required>
                                <option value="">Selecione</option>
                                <option value="cardiologia">Nenhuma</option>
                                <option value="cardiologia">Cardiologia</option>
                                <option value="dermatologia">Dermatologia</option>
                                <option value="pediatria">Pediatria</option>
                                <option value="ortopedia">Ortopedia</option>
                                <option value="ginecologia">Ginecologia</option>
                                <!-- Adicione mais conforme necessário -->
                                </select>
                            </div>

                            <div class="celular">
                                <label for="tel_celular">Tel. Celular:</label>
                                <input class="medio" type="tel" id="tel_celular" name="tel_celular" pattern="\(\d{2}\) \d{5}-\d{4}" placeholder="(00) 00000-0000">
                            </div>

                            <div class="tel-residencial">
                                <label for="tel_residencial">Tel. Residencial:</label>
                                <input class="medio" type="tel" id="tel_residencial" name="tel_residencial" pattern="\(\d{2}\) \d{4}-\d{4}" placeholder="(00) 0000-0000">
                            </div>

                        </div>

                    </div>

                    <div class="email">
                        <label for="email">E-mail:</label>
                        <input class="medio" type="email" id="email" name="email">
                    </div>
                    

                </section>

                <h1 class="endereco">Endereço</h1>
                <section class="dados-gerais-endereco">

                    <div class="logradouro-cep">

                        <div class="logradouro-bairro">

                            <div class="logradouro">
                                <label for="logradouro">Logradouro</label>
                                <input type="text" id="logradouro" name="logradouro">
                            </div>

                            <div class="complemento">
                                <label for="complemento">Complemento</label>
                                <input type="text" id="complemento" name="complemento">
                            </div>

                            <div class="bairro">
                                <label for="bairro">Bairro</label>
                                <input type="text" id="bairro" name="bairro">
                            </div>



                        </div>

                        <div class="numero-cep">

                            <div class="numero">
                                <label for="numero">Número</label>
                                <input class="medio" type="text" id="numero" name="numero">
                            </div>

                            <div class="cidade">
                                <label for="cidade">Cidade</label>
                                <input type="text" id="cidade" name="cidade">
                            </div>

                            <div class="estado-cep">

                                <div class="estado">
                                    <label for="estado">Estado (UF)</label>
                                    <select id="estado" name="estado">
                                        <option value="">Selecione</option>
                                        <option value="AC">Acre</option>
                                        <option value="AL">Alagoas</option>
                                        <option value="AP">Amapá</option>
                                        <option value="AM">Amazonas</option>
                                        <option value="BA">Bahia</option>
                                        <option value="CE">Ceará</option>
                                        <option value="DF">Distrito Federal</option>
                                        <option value="ES">Espírito Santo</option>
                                        <option value="GO">Goiás</option>
                                        <option value="MA">Maranhão</option>
                                        <option value="MT">Mato Grosso</option>
                                        <option value="MS">Mato Grosso do Sul</option>
                                        <option value="MG">Minas Gerais</option>
                                        <option value="PA">Pará</option>
                                        <option value="PB">Paraíba</option>
                                        <option value="PR">Paraná</option>
                                        <option value="PE">Pernambuco</option>
                                        <option value="PI">Piauí</option>
                                        <option value="RJ">Rio de Janeiro</option>
                                        <option value="RN">Rio Grande do Norte</option>
                                        <option value="RS">Rio Grande do Sul</option>
                                        <option value="RO">Rondônia</option>
                                        <option value="RR">Roraima</option>
                                        <option value="SC">Santa Catarina</option>
                                        <option value="SP">São Paulo</option>
                                        <option value="SE">Sergipe</option>
                                        <option value="TO">Tocantins</option>
                                    </select>
                                </div>

                                <div class="cep">
                                    <label for="cep">CEP</label>
                                    <input type="text" id="cep" name="cep" pattern="\d{5}-\d{3}" placeholder="00000-000">
                                </div>

                            </div>

                        </div>
    
                    </div>

                </section>
            </form>
        </section>
        <section class="botoes">
            <button class="voltar">Voltar</button>
            <button class="salvar" type="submit">Salvar</button>
        </section>
    </main>
</body>
</html>