<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../assets/css/index-usuarios.css" rel="stylesheet">
    <title>Médico</title>
</head>
<body>
    <header>
        <a class="logo" href="">MedEase</a>
        <div class="conteudo_header_direita">
            <div class="perfil_menu_usuario">    
                <button>
                    <p>sair</p>
                </button>
            </div>
        </div>
    </header>
    
    <main>
        <h1>Bem-vindo, Dr Médico!</h1>
        <section class="section-principal">
            <div class="grid-container">
                
                <div class="card">
                    <a href="#" target="_blank">
                        <img src="../../assets/img/Healthcare.png">
                        <p>Atendimentos do dia</p>
                    </a>                 
                </div>

                <div class="card">
                    <a href="#" target="_blank">
                        <img src="../../assets/img/Medical Record.png" alt="Prontuário">
                        <p>Prontuários</p>
                    </a>
                </div>

                <div class="card">
                    <a href="" target="_blank">
                        <img src="../../assets/img/Task Planning.png" alt="Consulta Agendadas">
                        <p>Consultas Agendadas</p>
                    </a>
                </div>

                <div class="card">
                    <a href="#" target="_blank">
                        <img src="../../assets/img/User Group.png" alt="Pacientes">
                        <p>Pacientes</p>
                    </a>
                </div>

            </div>
    </section>
    </main>
</body>
</html>