<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../assets/css/index-usuarios.css" rel="stylesheet">
    <title>Médico</title>
</head>
<body>
    <header>
        <a class="logo" href="">MedEase</a>
        <div class="conteudo_header_direita">
            <div class="perfil_menu_usuario">
                <img class="icone-perfil" src="../../assets/img/perfilBranco.png" alt="Ícone de perfil do usuário">    
                <button>
                    <p>NomeUsuario</p>
                    <img class="seta_menu" src="../../assets/img/setaBranca.png" alt="Seta de ativação do menu do usuário">
                </button>
            </div>
        </div>
    </header>
    
    <main>
        <h2>Bem-vindo, Dr Médico!</h2>
        <section class="section-principal">
            <div class="grid-container">
                <div class="card">
                    <a href="#" target="_blank">
                        <span>❤️</span>
                        <p>Atendimentos do dia</p>
                    </a>
                </div>
                <div class="card">
                    <a href="#" target="_blank">
                        <span>📝</span>
                        <p>Prontuário</p>
                    </a>
                </div>
                <div class="card">
                    <a href="#" target="_blank">
                        <span>📋</span>
                        <p>Consulta Agendadas</p>
                    </a>
                </div>
            </div>
    </section>
    </main>
</body>
</html>