<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prontuários</title>
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/lista-pacientes.css">
</head>
<body>
    <header>
        <a class="logo" href="">MedEase</a>    
        <a href="">sair</a>
    </header>
    <main>
        <section class="conteudo-principal">

            <section class="busca">
                <img src="/assets/img/lupa.png" alt="Lupa de pesquisa">
                <input type="text" placeholder="Buscar Paciente (nome do paciente)">
            </section>

            <section class="pacientes">
                
                <div class="legenda">
                    <p class="nome-legenda">Nome Completo</p>
                    <p>CPF</p>
                </div>
                
                <!--Pacientes-->
                <div class="dados">
                    <div class="nome">
                        <p>Receber o nome aqui</p>
                    </div>
                    <div class="cpf">
                        <p>Receber o CPF aqui</p>
                    </div>
                    <a href="prontuario.html" class="detalhes">
                        Prontuários
                    </a>
                </div>

                <div class="dados">
                    <div class="nome">
                        <p>Receber o nome aqui</p>
                    </div>
                    <div class="cpf">
                        <p>Receber o CPF aqui</p>
                    </div>
                    <a href="prontuario.html" class="detalhes">
                        Prontuários
                    </a>
                </div>

                <div class="dados">
                    <div class="nome">
                        <p>Receber o nome aqui</p>
                    </div>
                    <div class="cpf">
                        <p>Receber o CPF aqui</p>
                    </div>
                    <a href="prontuario.html" class="detalhes">
                        Prontuários
                    </a>
                </div>

            </section>

        </section>
        <section class="botao">
            <button class="voltar">Voltar</button>
        </section>
    </main>
    <footer></footer>
</body>
</html>