<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatórios</title>
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/relatorios.css">
</head>
<body>
    <header>
        <a class="logo" href="">MedEase</a>    
        <a href="login.php">sair</a>
    </header>

    <main>
        <h1>Relatórios</h1>

        <section class="section-principal">
            <div class="grid-container">
                
                <div class="card">
                    <a href="" target="">
                        <img src="../../assets/img/Planner.png" alt="Cadastrar Usuário">
                        <p>Histórico de Consultas</p>
                    </a>
                </div>

                <div class="card">
                    <a href="">
                        <img src="../../assets/img/Planner.png" alt="Agendar Consulta">
                        <p>Consultas por Médico</p>
                    </a>
                </div>

                <div class="card">
                    <a href="">
                        <img src="../../assets/img/Planner.png" alt="Consulta Agendadas">
                        <p>Consultas por Secretário</p>
                    </a>
                </div>

            </div>
            <button type="button" onclick="history.back()">Voltar</button>
        </section>
    </main>

    <footer></footer>
</body>
</html>