<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Consulta</title>
    <link rel="stylesheet" href="iniciarConsulta.css">
</head>
<body>
    <header>
        <a class="logo" href="">MedEase</a>
        <div class="conteudo_header_direita">
            <a href="">Consultas</a>
            <a href="">Pacientes</a>
            <div class="perfil_menu_usuario">
                <img class="icone-perfil" src="../assets/img/perfilBranco.png" alt="Ícone de perfil do usuário">    
                <button>
                    <p>NomeUsuario</p>
                    <img class="seta_menu" src="../assets/img/setaBranca.png" alt="Seta de ativação do menu do usuário">
                </button>
            </div>
        </div>
    </header>
    <main>
        <h1 class="titulo_principal">Lista de Atendimentos - <!--Coletar a data atual-->99/99/9999</h1>
        <section class="busca">
            <img src="../assets/img/lupa.png" alt="Ícone de lupa">
            <label for="buscar_consulta"></label>
            <input type="text" name="buscar_consulta" id="buscar_consulta" placeholder="Buscar atendimento (nome do paciente)">
        </section>
        <div class="titulo_pacientes">
            <p class="paciente">Paciente</p>
            <p class="horario_status">Horário de chegada</p>
            <p class="horario_status">Status</p>
        </div>
        <section class="lista_pacientes">
            <!--Descobrir como coletar os dados e inseri-los aqui-->
        </section>
        <div class="botoes">
            <button class="voltar">Voltar</button>
            <button class="iniciar">Iniciar Consulta</button>
        </div>
    </main>
    <footer></footer>
</body>
</html>