@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jaldi&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
}

.div_pai {
    height: 100vh;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo_geral {
    width: 1152px;
    height: 819px;
    display: flex;
}

.geral_esquerda {
    background-color: #4A90E2;
    width: 648px;
    height: 100%;
    border: 1px solid #4A90E2;
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 449px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo h1 {
    font-size: 54.4px;
    color: #FFFFFF;
    font-family: "Inter", serif;
}

.logo p {
    font-size: 32px;
    color: #FFFFFF;
    font-family: "Jaldi", serif;
    line-height: 1;
    margin-top: 10px;
}

.geral_direita {
    background-color: #F5F5F5;
    border: 1px, solid rgba(136, 136, 136, 0.4);;
    border-left: none;
    border-radius: 0 10px 10px 0;
    width: 504px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.formulario h1 {
    font-size: 46.4px;
    color: #6C6767;
    margin-bottom: 20px;
    font-family: "Inter", serif;
}

.login_ate_esqueciSenha {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
}

.input {
    width: 337px;
    height: 65.6px;
    border-radius: 35px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 11.2px;
    display: flex;
    align-items: center;
}

.icone_input {
    width: 24px;
    height: 24px;
    margin-left: 22.4px;
}

.input input {
    margin-left: 19.2px;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0 35px 35px 0;
    background-color: #F5F5F5;
    outline: none;
    font-size: 28px;
    color: #6C6767;
}

.input input::placeholder {
    text-align: left;
    font-size: 28px;
    color: rgba(136, 136, 136, 0.4);
    font-weight: 400;
    font-family: "Jaldi", serif;
}

.input input:focus::placeholder {
    color: transparent;
}

input[type="password"]::-ms-reveal, 
input[type="password"]::-ms-clear, 
input[type="password"]::-webkit-clear-button, 
input[type="password"]::-webkit-credentials-auto-fill-button {
    display: none;
}

.checkbox_ate_esqueciSenha {
    display: flex;
    justify-content: space-between;
}

.checkbox_ate_lembreDeMim {
    display: flex;
    justify-content: space-between;
    gap: 1.8px;
    

}

.checkbox {
    width: 20px;
    height: 20px;
}

.checkbox_ate_lembreDeMim p {
    font-family: "Inter", serif;
    font-weight: 400;
    color: rgba(136, 136, 136, 0.8);
    font-size: 14,2px;
}

.esqueceu_senha a {
    font-family: "Inter", serif;
    font-weight: 400;
    color: rgba(136, 136, 136, 0.8);
    text-decoration: none;
    font-size: 14,2px;
}

.esqueceu_senha a:hover {
    text-decoration: underline;
}

.botao_entrar {
    width: 337px;
    height: 65.6px;
    border: none;
    border-radius: 35px;
    background-color: #4A90E2;
    color: #FFFFFF;
    font-size: 22.4px;
    font-weight: 600;
    font-family: "Inter", serif;
    cursor: pointer;
}

.botao_entrar:hover {
    background-color: #5AA9F4;
}
